.Timmer{
  border: 1px solid black;
  width:250px;
  height:300px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 70px;
  font-weight:50;
  position: relative;
}

.Buttons{
  width:100%;
  position: absolute;
  bottom: 0;
}
.Button{
  font-size: 18px;
  font-weight:bold;
  /* width:50%; */
  height:24px;
  color:white;
  background: lightslategray; 
  border:none;
}

.Button:hover{
  background:white;
  color: lightslategray; 
}

